@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1446aa;
  --color-secondary: #ec8d1f;
  --color-tertiary: #08234f;
  --default-font-family: "Vazirmatn";
}
